<% layout("/layouts/boilerplate") %>


<div class="edit-container">
  <h3>Edit Your Listing</h3>
  <form
    method="POST"
    action="/listing/<%= listing._id %>?_method=PUT"
    novalidate
    class="needs-validation"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        name="listing[title]"
        class="form-control"
        value="<%= listing.title %>"
        required
      />
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        name="listing[description]"
        class="form-control"
        rows="4"
        required
      ><%= listing.description %></textarea>
    </div>

    <div class="mb-3">
      <label class="form-label">Original Listing Image</label><br />
      <img src="<%= originalImage %>" alt="Listing Image" />
    </div>

    <div class="mb-3">
      <label for="image" class="form-label">Upload New Image</label>
      <input type="file" name="listing[image]" class="form-control" />
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="number"
          name="listing[price]"
          class="form-control"
          value="<%= listing.price %>"
          required
        />
      </div>

      <div class="col-md-8 mb-3">
        <label for="country" class="form-label">Country</label>
        <input
          type="text"
          name="listing[country]"
          class="form-control"
          value="<%= listing.country %>"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          class="form-control"
          value="<%= listing.location %>"
          required
        />
      </div>

      <div class="col-md-6 mb-3">
        <label for="category" class="form-label">Category</label>
        <select name="listing[category]" class="form-select" required>
          <option disabled>Select a category</option>
          <% for(let category of categories) { %>
            <option value="<%= category %>" <%= listing.category === category ? 'selected' : '' %>>
              <%= category.charAt(0).toUpperCase() + category.slice(1) %>
            </option>
          <% } %>
        </select>
      </div>
    </div>

    <button type="submit" class="btn add-btn">Update</button>
  </form>
</div>
